In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics, math

In [14]:
r3_df = pd.read_csv("..\\data\\round3\\prices_round_3_day_0.csv", sep=';')
# get all columns that start with "VOLCANIC_ROCK"
rock_df = r3_df[r3_df['product'].str.startswith("VOLCANIC_ROCK")].copy()

def TTE(timestamp):
    return 5 - timestamp/1000000

rock_df["timestamp"] = rock_df["timestamp"].apply(TTE)
rock_df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,0,5.0000,VOLCANIC_ROCK_VOUCHER_10500,99.0,19.0,NaN,NaN,NaN,NaN,100,19,NaN,NaN,NaN,NaN,99.5,0.0
4,0,5.0000,VOLCANIC_ROCK_VOUCHER_10000,505.0,19.0,NaN,NaN,NaN,NaN,506,19,NaN,NaN,NaN,NaN,505.5,0.0
6,0,5.0000,VOLCANIC_ROCK_VOUCHER_9750,754.0,19.0,NaN,NaN,NaN,NaN,755,19,NaN,NaN,NaN,NaN,754.5,0.0
9,0,5.0000,VOLCANIC_ROCK_VOUCHER_9500,1003.0,19.0,NaN,NaN,NaN,NaN,1004,19,NaN,NaN,NaN,NaN,1003.5,0.0
11,0,5.0000,VOLCANIC_ROCK_VOUCHER_10250,273.0,19.0,NaN,NaN,NaN,NaN,274,19,NaN,NaN,NaN,NaN,273.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139988,0,4.0001,VOLCANIC_ROCK_VOUCHER_9750,764.0,7.0,NaN,NaN,NaN,NaN,765,18,NaN,NaN,NaN,NaN,764.5,0.0
139992,0,4.0001,VOLCANIC_ROCK_VOUCHER_10500,94.0,7.0,NaN,NaN,NaN,NaN,95,18,NaN,NaN,NaN,NaN,94.5,0.0
139994,0,4.0001,VOLCANIC_ROCK,10513.0,126.0,10512.0,64.0,NaN,NaN,10515,190,NaN,NaN,NaN,NaN,10514.0,0.0
139995,0,4.0001,VOLCANIC_ROCK_VOUCHER_10250,277.0,7.0,NaN,NaN,NaN,NaN,278,18,NaN,NaN,NaN,NaN,277.5,0.0
139997,0,4.0001,VOLCANIC_ROCK_VOUCHER_10000,515.0,7.0,NaN,NaN,NaN,NaN,517,18,NaN,NaN,NaN,NaN,516.0,0.0

In [ ]:
pivot = rock_df.pivot(index='timestamp',
                    columns='product',
                    values='mid_price')
pivot.columns = pivot.columns.str.replace('VOLCANIC_ROCK_VOUCHE', '')

product    VOLCANIC_ROCK  R_10000  R_10250  R_10500  R_9500  R_9750
timestamp
4.0001           10514.0    516.0    277.5     94.5  1013.5   764.5
4.0002           10514.5    516.5    277.5     94.5  1014.5   764.5
4.0003           10513.5    515.5    276.5     93.5  1013.5   763.5
4.0004           10511.5    514.5    275.5     93.5  1012.5   762.5
4.0005           10514.5    515.5    277.5     94.5  1014.5   765.0
...                  ...      ...      ...      ...     ...     ...
4.9996           10509.5    512.5    279.5    102.5  1010.0   760.5
4.9997           10517.5    521.5    285.5    106.5  1018.0   768.5
4.9998           10513.0    516.5    282.5    104.5  1013.5   764.5
4.9999           10510.0    515.5    279.5    102.5  1010.5   761.5
5.0000           10503.0    505.5    273.5     99.5  1003.5   754.5

[10000 rows x 6 columns]

In [16]:
pivot = pivot.reset_index()
pivot

product  timestamp  VOLCANIC_ROCK  R_10000  R_10250  R_10500  R_9500  R_9750
0           4.0001        10514.0    516.0    277.5     94.5  1013.5   764.5
1           4.0002        10514.5    516.5    277.5     94.5  1014.5   764.5
2           4.0003        10513.5    515.5    276.5     93.5  1013.5   763.5
3           4.0004        10511.5    514.5    275.5     93.5  1012.5   762.5
4           4.0005        10514.5    515.5    277.5     94.5  1014.5   765.0
...            ...            ...      ...      ...      ...     ...     ...
9995        4.9996        10509.5    512.5    279.5    102.5  1010.0   760.5
9996        4.9997        10517.5    521.5    285.5    106.5  1018.0   768.5
9997        4.9998        10513.0    516.5    282.5    104.5  1013.5   764.5
9998        4.9999        10510.0    515.5    279.5    102.5  1010.5   761.5
9999        5.0000        10503.0    505.5    273.5     99.5  1003.5   754.5

[10000 rows x 7 columns]

In [17]:
pivot = pivot.sort_values(by='timestamp', ascending=False)

In [18]:
pivot

product  timestamp  VOLCANIC_ROCK  R_10000  R_10250  R_10500  R_9500  R_9750
9999        5.0000        10503.0    505.5    273.5     99.5  1003.5   754.5
9998        4.9999        10510.0    515.5    279.5    102.5  1010.5   761.5
9997        4.9998        10513.0    516.5    282.5    104.5  1013.5   764.5
9996        4.9997        10517.5    521.5    285.5    106.5  1018.0   768.5
9995        4.9996        10509.5    512.5    279.5    102.5  1010.0   760.5
...            ...            ...      ...      ...      ...     ...     ...
4           4.0005        10514.5    515.5    277.5     94.5  1014.5   765.0
3           4.0004        10511.5    514.5    275.5     93.5  1012.5   762.5
2           4.0003        10513.5    515.5    276.5     93.5  1013.5   763.5
1           4.0002        10514.5    516.5    277.5     94.5  1014.5   764.5
0           4.0001        10514.0    516.0    277.5     94.5  1013.5   764.5

[10000 rows x 7 columns]

In [19]:
strike_cols = [col for col in pivot.columns if col.startswith('R')]
strikes = [int(col.split('_')[1]) for col in strike_cols]

In [21]:
for K in strikes:
    pivot[f'm_{K}'] = np.log(K / pivot["VOLCANIC_ROCK"]) / np.sqrt(pivot["timestamp"])
pivot

product,timestamp,VOLCANIC_ROCK,R_10000,R_10250,R_10500,R_9500,R_9750,m_10000,m_10250,m_10500,m_9500,m_9750
9999,5.0000,10503.0,505.5,273.5,99.5,1003.5,754.5,-0.021947,-0.010905,-0.000128,-0.044886,-0.033270
9998,4.9999,10510.0,515.5,279.5,102.5,1010.5,761.5,-0.022246,-0.011203,-0.000426,-0.045185,-0.033568
9997,4.9998,10513.0,516.5,282.5,104.5,1013.5,764.5,-0.022373,-0.011330,-0.000553,-0.045313,-0.033696
9996,4.9997,10517.5,521.5,285.5,106.5,1018.0,768.5,-0.022565,-0.011522,-0.000745,-0.045505,-0.033888
9995,4.9996,10509.5,512.5,279.5,102.5,1010.0,760.5,-0.022225,-0.011182,-0.000404,-0.045165,-0.033548
...,...,...,...,...,...,...,...,...,...,...,...,...
4,4.0005,10514.5,515.5,277.5,94.5,1014.5,765.0,-0.025084,-0.012738,-0.000690,-0.050729,-0.037742
3,4.0004,10511.5,514.5,275.5,93.5,1012.5,762.5,-0.024941,-0.012595,-0.000547,-0.050587,-0.037599
2,4.0003,10513.5,515.5,276.5,93.5,1013.5,763.5,-0.025037,-0.012691,-0.000642,-0.050682,-0.037695
1,4.0002,10514.5,516.5,277.5,94.5,1014.5,764.5,-0.025084,-0.012738,-0.000690,-0.050730,-0.037743
0,4.0001,10514.0,516.0,277.5,94.5,1013.5,764.5,-0.025061,-0.012715,-0.000666,-0.050707,-0.037720

In [ ]:
def BSM(S, K, T, sigma):
    """Black-Scholes on European calls."""
    d1 = (np.log(S / K) + (0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
    d2 = d1 - sigma * np.sqrt(T)
    return S * norm_cdf(d1) - K * norm_cdf(d2)

In [ ]:
# find sigma that gives price = 
def iv()